@import 'colors-waybar.css';

/* totally didn't just glue together two configs I found that I liked */

* {
    font-family: Iosevka;
    font-size: 14px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.7);
    color: @foreground;
    transition-property: background-color;
    /* transition-duration: 0.5s; */ 
}

window#waybar.hidden {
    opacity: 0.1;
}

#window {
    color: @foreground;
}



#clock,
#wireplumber,
#custom-exit,
#custom-logo,
#cpu,
#memory,
#tray,
#network,
#workspaces,
#custom-kernel,
#custom-theme {
    color: @foreground;
    padding: 2px 8px;
    background-color: @background;
    border-radius: 8px;
    margin: 0 3px 0;
}

#custom-logo {
  color: #1793d1;
}

#custom-kernel {
    font-weight: bold;
    /* color: #ff6c6b; */
    color: @color10;
}
#custom-exit {
    color: @color7;
    font-weight: bold;
}

#cpu {
    color: @color11;
    font-weight: bold;
}
#memory {
    color: @color11;
    font-weight: bold;
}

#workspaces {
}

#workspaces button {
    color: @color11;
    box-shadow: inset 0 -3px transparent;
    margin-right: 0em;
    /* transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68); */
}

#workspaces button.active {
    /* color: @color9; */
    color: #1793d1;
    font-weight: bold;
    margin-right: 0em;
    /* transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68); */
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

/*#pulseaudio,
#network {
    font-weight: bold;
    background-color: @background;
    color: #98be65;
    padding: 0 12px;
    margin: 6px 0 0;
}*/

#network {
    /* color: @color13; */
    font-weight: bold;
    color: #98be65;
    padding-right: 14px;
    border-right: none;
    border-left: none;
}

#network.disconnected {
    font-weight: bold;
    color: red;
}

#backlight {
    margin-right: 3px;
    padding-right: 8px;
    color: @color13;
    border-radius: 0 8px 8px 0;
    border-left: none;
}

#clock {
    color: @color12;
    font-weight: bold;
}

#wireplumber {
    color: @color12;
    font-weight: bold;
}

tooltip {
    border-radius: 15px;
    padding: 15px;
    background-color: @background;
    color: @foreground;
    font-family: CartographCF Nerd Font;
}

tooltip label {
    padding: 5px;
    color: @foreground;
}

label:focus {
    background-color: @background;
}
